* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: blue;
    /* align-items: auto;  */
}

header.cabecalho {
    background-image: url('./imagens-super-mario/personagens-mario-capa.webp');
    background-size: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
    text-decoration: none;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cabecalho nav li a:hover {
    background-color: #d5011d;
}

nav ul.menu {
    list-style-type: none;
}

/* main{
    max-width: 90%;
    align-items: auto; 
} */

main.container {
    margin: 0 auto;
    align-items: center;
    /* height: calc(100vh - 132px); */
    padding: 0 30px 30px;
}


div.texto-personagem {
    display: block;
}

img.figura-transparente {
    width: 30%;
}

img.figura-luigi {
    width: 20%;
}

div.mario {
    background-image: url('./imagens-super-mario/paisagem-classica.jpg');
    background-size: 100%;
    align-items: center;
    display: flex;
}

div.texto-mario {
    max-width: 30px;
}

div.luigi {
    display: flex;
    background-image: url('./imagens-super-mario/paisagem-classica-3.jpg');
    background-size: 50%;
}

div.princesa {
    background-image: url('./imagens-super-mario/fundo-princesa-3.bmp');
    background-size: 40%;
    /* background-repeat: no-repeat; */
    display: flex;
    /* background-color: pink; */
}

div.texto-princesa {
    color: rgb(242, 188, 206);
    margin-top: 60px;

}

div.fundo-texto-princesa {
    background-color: rgba(0, 0, 0, 0.3);
    /* Define a cor de fundo com 20% de opacidade */
    padding: 10px;
    /* Adiciona algum espaçamento interno para o texto */
}

div.toad {
    background-image: url('./imagens-super-mario/quadros-quadro-super-mario-cogumelos--p-1621037165372.png');
    display: flex;
}

div.texto-toad {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

div.donkey {
    display: flex;
    background-image: url('./imagens-super-mario/cenario-donkey-kong-3.jpeg');
    background-size: 100%;
}

.texto-donkey {
    color: rgb(240, 240, 90);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
}

div.bowser {
    display: flex;
    background-image: url('./imagens-super-mario/bowser-cenario.png');
    background-size: 80%;
}

div.texto-bowser {
    color: rgb(246, 84, 25);
    background-color: rgba(0, 0, 0, 0.3);

}

div.miyamoto {
    background-color: rgb(78, 74, 74);
    /* display: flex; */
}

div.personagem {
    padding: 20px;
    margin: 20px;
}